In [1]:
import pandas as pd

path = "./content/CC_LCL-FullData.csv"
df = pd.read_csv(path)

df.head()

       LCLid stdorToU                     DateTime KWH/hh (per half hour)
0  MAC000002      Std  2012-10-12 00:30:00.0000000                      0
1  MAC000002      Std  2012-10-12 01:00:00.0000000                      0
2  MAC000002      Std  2012-10-12 01:30:00.0000000                      0
3  MAC000002      Std  2012-10-12 02:00:00.0000000                      0
4  MAC000002      Std  2012-10-12 02:30:00.0000000                      0

In [2]:
df['DateTime'] = pd.to_datetime(df['DateTime'], errors='raise')

In [3]:
df = df.rename(columns={'KWH/hh (per half hour) ': 'KWH_per_half_hour'})
df['KWH_per_half_hour'] = pd.to_numeric(df['KWH_per_half_hour'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167932474 entries, 0 to 167932473
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   LCLid              object
 1   stdorToU           object
 2   DateTime           datetime64[ns]
 3   KWH_per_half_hour  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 5.0+ GB

In [4]:
df.dropna(inplace=True)
df.isnull().sum()

LCLid                0
stdorToU             0
DateTime             0
KWH_per_half_hour    0
dtype: int64

In [5]:
start_date = df['DateTime'].min()

start_date

Timestamp('2011-11-23 09:00:00')

In [6]:
df.sort_values('DateTime', inplace=True)

start_date = pd.to_datetime('2011-11-24 00:00:00')

df['Week'] = ((df['DateTime'] - start_date).dt.days // 7) + 1

In [7]:
df.head()

               LCLid stdorToU            DateTime  KWH_per_half_hour  Week
134987151  MAC000146      ToU 2011-11-23 09:00:00              0.214     0
4354648    MAC000145      Std 2011-11-23 09:00:00              0.355     0
134987152  MAC000146      ToU 2011-11-23 09:30:00              0.147     0
4354649    MAC000145      Std 2011-11-23 09:30:00              0.414     0
135007441  MAC000147      ToU 2011-11-23 10:00:00              0.150     0

In [8]:
weekly_counts = df.groupby('Week')['LCLid'].nunique().reset_index()

weekly_counts.columns = ['Week', 'ActiveHouseholds']

In [9]:
weekly_counts[weekly_counts['ActiveHouseholds'] >= 5531]

    Week  ActiveHouseholds
52    52              5532
53    53              5531
54    54              5532
55    55              5531
56    56              5531

In [10]:
households_per_week = [set(df[df['Week'] == i]['LCLid'].unique()) for i in range(52, 58)]

common_households = set.intersection(*households_per_week)

In [11]:
len(common_households)

5517

In [12]:
new_df = df[df['LCLid'].isin(common_households)].copy()

In [13]:
new_df = new_df[(new_df['Week'] >= 52) & (new_df['Week'] < 57)]

In [14]:
new_df.reset_index(drop=True)

             LCLid stdorToU            DateTime  KWH_per_half_hour  Week
0        MAC003164      Std 2012-11-15 00:00:00              0.093    52
1        MAC003043      ToU 2012-11-15 00:00:00              0.163    52
2        MAC005190      ToU 2012-11-15 00:00:00              0.041    52
3        MAC004586      Std 2012-11-15 00:00:00              0.378    52
4        MAC005201      Std 2012-11-15 00:00:00              0.178    52
...            ...      ...                 ...                ...   ...
9247712  MAC003472      ToU 2012-12-19 23:30:00              0.173    56
9247713  MAC002927      ToU 2012-12-19 23:30:00              0.381    56
9247714  MAC005085      ToU 2012-12-19 23:30:00              0.119    56
9247715  MAC002862      Std 2012-12-19 23:30:00              0.069    56
9247716  MAC002893      Std 2012-12-19 23:30:00              0.112    56

[9247717 rows x 5 columns]

In [15]:
new_df['Time'] = new_df['DateTime'].dt.time

In [16]:
new_df.head()

               LCLid stdorToU   DateTime  KWH_per_half_hour  Week      Time
77488644   MAC003164      Std 2012-11-15              0.093    52  00:00:00
153211681  MAC003043      ToU 2012-11-15              0.163    52  00:00:00
165449395  MAC005190      ToU 2012-11-15              0.041    52  00:00:00
109246249  MAC004586      Std 2012-11-15              0.378    52  00:00:00
124391718  MAC005201      Std 2012-11-15              0.178    52  00:00:00

In [17]:
covariate = new_df.groupby(['Week', 'LCLid', 'Time'])['KWH_per_half_hour'].mean()

In [18]:
covariate_df = covariate.reset_index()
covariate_df.rename(columns={'KWH_per_half_hour': 'Mean_KWH_per_half_hour'}, inplace=True)

covariate_df

         Week      LCLid      Time  Mean_KWH_per_half_hour
0          52  MAC000002  00:00:00                0.235500
1          52  MAC000002  00:30:00                0.248429
2          52  MAC000002  01:00:00                0.227000
3          52  MAC000002  01:30:00                0.228571
4          52  MAC000002  02:00:00                0.219143
...       ...        ...       ...                     ...
1324075    56  MAC005566  21:30:00                0.115429
1324076    56  MAC005566  22:00:00                0.119000
1324077    56  MAC005566  22:30:00                0.105857
1324078    56  MAC005566  23:00:00                0.109000
1324079    56  MAC005566  23:30:00                0.097571

[1324080 rows x 4 columns]

In [20]:
covariate_df['group_id'] = covariate_df.groupby('LCLid').cumcount()
covariate_x = covariate_df[covariate_df['Week'] == 52].set_index(['LCLid', 'group_id'])['Mean_KWH_per_half_hour'].unstack()

covariate_x

group_id,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
LCLid,,,,,,,,,,,,,,,,,,,,,
MAC000002,0.235500,0.248429,0.227000,0.228571,0.219143,0.190000,0.159571,0.108143,0.114286,0.112857,...,0.279429,0.455286,0.803429,0.339429,0.242286,0.239571,0.232571,0.245143,0.243429,0.252286
MAC000003,0.124750,2.605429,2.715571,2.317286,1.628857,1.806286,1.712714,1.611429,1.746286,1.343571,...,0.259000,0.257286,0.185714,0.174857,0.194429,0.195857,0.166286,0.193857,0.158714,0.137286
MAC000004,0.072750,0.031000,0.079143,0.005857,0.028429,0.021714,0.059286,0.048000,0.054571,0.000000,...,0.030857,0.046286,0.011429,0.069286,0.051714,0.039714,0.101286,0.033286,0.028857,0.005571
MAC000005,0.048500,0.040571,0.032286,0.032714,0.030429,0.029714,0.030857,0.031429,0.030714,0.031571,...,0.150857,0.157143,0.147571,0.118143,0.123286,0.160286,0.167571,0.127857,0.105857,0.085429
MAC000006,0.040125,0.032714,0.025286,0.035571,0.047857,0.030429,0.030143,0.040714,0.019429,0.028714,...,0.113571,0.099000,0.128571,0.110143,0.112143,0.078000,0.056714,0.057000,0.064429,0.034571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MAC005557,0.154500,0.139571,0.122143,0.097429,0.075000,0.070571,0.070000,0.070286,0.095714,0.104143,...,0.273286,0.169571,0.133714,0.103286,0.102857,0.102857,0.102714,0.120429,0.148143,0.163429
MAC005561,0.060125,0.076857,0.059571,0.059000,0.078429,0.069429,0.075857,0.060857,0.066000,0.065143,...,0.671000,0.559857,0.186286,0.163714,0.149143,0.142571,0.124714,0.113857,0.078571,0.095143
MAC005562,0.091000,0.061143,0.053286,0.065286,0.066286,0.060857,0.045429,0.070429,0.047286,0.061857,...,0.251429,0.190857,0.225857,0.211714,0.257714,0.254571,0.266143,0.204571,0.190286,0.145000
MAC005564,0.034125,0.037429,0.038000,0.022714,0.032000,0.046000,0.025000,0.031143,0.043000,0.036714,...,0.132714,0.104000,0.108429,0.093857,0.087714,0.082143,0.075000,0.064571,0.045429,0.035857
MAC005566,0.105750,0.107143,0.120286,0.111571,0.128714,0.099714,0.106714,0.120857,0.107000,0.132714,...,0.134000,0.114429,0.133857,0.136286,0.112143,0.125857,0.099286,0.122143,0.122571,0.110429

In [21]:
covariate_x.to_csv('./1st_task/X.csv', sep=',', index=False, header=None)

## Training Dataset

1st week

In [22]:
# 2nd Week Target Value 

target_week = 2

filtered_df = new_df[new_df['Week'] == target_week + 51]

target = filtered_df.groupby('LCLid')['KWH_per_half_hour'].sum()

target_df = target.reset_index(name='Total_KWH_per_half_hour')

In [23]:
target_df

          LCLid  Total_KWH_per_half_hour
0     MAC000002                72.656000
1     MAC000003               207.938001
2     MAC000004                12.097000
3     MAC000005                36.025000
4     MAC000006                24.436000
...         ...                      ...
5512  MAC005557                46.835000
5513  MAC005561                54.352000
5514  MAC005562                69.191000
5515  MAC005564                29.194000
5516  MAC005566                39.163000

[5517 rows x 2 columns]

In [24]:
target_df.drop('LCLid', axis=1 , inplace=True)

target_df

      Total_KWH_per_half_hour
0                   72.656000
1                  207.938001
2                   12.097000
3                   36.025000
4                   24.436000
...                       ...
5512                46.835000
5513                54.352000
5514                69.191000
5515                29.194000
5516                39.163000

[5517 rows x 1 columns]

In [25]:
target_df.to_csv('./1st_task/Y.csv', sep=',', index=False, header=None)

In [40]:
import numpy as np

original_grid = np.linspace(0, 47, num=48)
scaled_grid = original_grid / 47.0  

scaled_grid = pd.DataFrame(scaled_grid)

In [43]:
scaled_grid.transpose().to_csv('./1st_task/T.csv', sep=',', index=False, header=None)

In [41]:
len(scaled_grid)

48